<h3 class="center-align">Find a Farm Near You</h3>
<div class="row">
  <%= form_tag("/search", method: "get") do %>
  <div class="col input-field s2 right-align">
    <a id="locate-user" class="btn green"><i class="material-icons left">my_location</i></a>
  </div>
  <div class="input-field col s8 m4">
    <%= text_field_tag(:q, "", placeholder: "Enter your location...", class: "form-control") %>
  </div>
  <div class="input-field col s8 offset-s2 m3">
    <select name="farm_radius">
      <option value="10">10km</option>
      <option value="50">50km</option>
      <option value="100" selected="selected">100km</option>
      <option value="500">500km</option>
    </select>
    <label>within</label>
  </div>
  <div class="input-group-btn col s10 offset-s2 m2">
    <%= submit_tag("Search", class: "btn input-field green") %>
  </div>
  <% end %>
</div>

<% if @results.length > 1 %>
  <div class='row'>
    <div class="col s12">
      <div class="panel panel-default">
        <div class="panel-heading">All the markets our farmers will be at!</div>

        <table class="table">
          <thead>
            <tr>
              <th> Name </th>
              <th> Address </th>
            </tr>
          </thead>
          <tbody>
              <% @results.each do |r| %>
            <tr>
              <td>
                <a href="/farms/<%= r.id %>"> <%= r.name %> </a>
              </td>
              <td>
                <%= r.address %>
              </td>
            </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
