<div class="parallax-container main-parallax">
  <div class="parallax"><img src="https://c1.staticflickr.com/3/2898/14082822607_a30dd33db7_b.jpg"></div>
</div>

<div class="section white">
<h4 class="center-align">Find Nearby Farms and Markets</h4>
<div class="row">

  <%= form_tag("/search", method: "get") do %>
  <div class="col input-field s2 right-align">
    <a id="locate-user" class="btn green"><i class="material-icons left">my_location</i></a>
  </div>
  <div class="input-field col s8 m4">
    <%= text_field_tag(:q, "", placeholder: "Enter your location...", class: "form-control") %>
    <div class="progress" id="location-progress">
         <div class="indeterminate green"></div>
     </div>
  </div>
  <div class="input-field col s8 offset-s2 m3">
    <select name="farm_radius">
      <option value="10">10km</option>
      <option value="50">50km</option>
      <option value="100" selected="selected">100km</option>
      <option value="500">500km</option>
    </select>
    <label>within</label>
  </div>
  <div class="input-group-btn col s10 offset-s2 m2">
    <%= submit_tag("Search", class: "btn input-field green") %>
  </div>
  <% end %>
</div>

<% if @farm_results.length > 0 || @market_results.length > 0 %>
<div class='row'>
  <div class="col s10 offset-s1">
    <div class="panel panel-default">

      <table class="table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Address </th>
          </tr>
        </thead>
        <tbody>
          <% @farm_results.each do |r| %>
          <tr>
            <td>
              <a href="/farms/<%= r.id %>"> <%= r.name %> </a>
            </td>
            <td>
              <%= r.address %>
            </td>
          </tr>
          <% end %>
          <% @market_results.each do |r| %>
          <tr>
            <td>
              <a href="/markets/<%= r.id %>"> <%= r.name %> </a>
            </td>
            <td>
              <%= r.parsed_address %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="http://miriadna.com/desctopwalls/images/max/Meadow-with-yellow-flowers.jpg"></div>
  </div>
  <div class="section white">
    <div class="row">
      <h2 class="header center">CSA</h2>


      <div class="row">
        <div class="col l5 offset-l1">
          <div class="card grey lighten-4">
            <div class="card-content black-text">
              <h4>What is CSA?</h4>
              <div class="divider"></div>
              <br>
              <p>Community Shared Agriculture.</p>
              <p> A subscription program to support your local farmers and community!</p>
            </div>
          </div>
        </div>

        <div class="col s12 l5">
          <div class="card grey lighten-4">
            <div class="card-content black-text">
              <span class="card-title"><h4>How does it work?</h4></span>
              <div class="divider"></div>
              <br>
              <p>An annual fee gets you:</p>
              <p>A unique and fresh selection of crops every week in a box size of your choice.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
