<h1>ARE YOU HERE TO GET PLOWED?</h1>

<h1> WE ARE THE CROP COPS </h1>
<h2>PUT YOUR HANDS ABOVE YOUR HEAD AND GET DOWN ON THE GROUND</h2>



<% if current_user %>
<h1>OMG HEYY, <%= current_user.first_name %> <%= current_user.last_name %>! Missed ya :)</h1>
<h1><a href="/logout">Logout</a></h1>
<% if current_user.is_farmer == true %>
<button>Click here to edit your farm prof and lollicrops</button>
<% end %>
<% else %>
<h1><a href="/login">Login here</a></h1>
<br />
<% end %>



<div class="container">
  <div class="row">
    <div>
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"> Register </button>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Who are you registering as?</h3>
        </div>

        <div class="modal-body">
          <div class="customer">
            <a href="/member_registration">
              <button type="button" class="btn btn-success btn-lg"> <h2><span><i class="glyphicon glyphicon-leaf"></i></span> MEMBER</h2> </button>
            </a>
          </div>
          <div class="admin">
            <a href="/farmer_registration">
              <button type="button" class="btn btn-success btn-lg"> <h2><span><i class="glyphicon glyphicon-grain"></i></span> FARMER</h2> </button>
            </a>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
    <%= form_tag("/search", method: "get") do %>
    <div class="col-xs-9 col-sm-6 col-md-4">
      <label for="q">Find</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button id="locate-user" class="btn btn-default"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></button>
        </span>
        <%= text_field_tag(:q, "", placeholder: "Enter your location...", class: "form-control") %>
        <span class="input-group-btn">
          <%= submit_tag("Search", class: "btn btn-default") %>
        </span>
      </div>
    </div>
    <div class="col-xs-3">
      <label for="farm-radius">within</label>
      <%= select_tag(:farm_radius, options_for_select([['10km', 10], ['50km', 50], ['100km', 100], ['500km', 500]], 100), class: "form-control") %>
    </div>
    <% end %>
</div>

<% if @results.length > 1 %>
  <div class='row'>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">All the markets our farmers will be at!</div>

        <table class="table">
          <thead>
            <tr>
              <th> Name </th>
              <th> Address </th>
            </tr>
          </thead>
          <tbody>
              <% @results.each do |r| %>
            <tr>
              <td>
                <a href="/farms/<%= r.id %>"> <%= r.name %> </a>
              </td>
              <td>
                <%= r.address %>
              </td>
            </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>