<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">

    <div class="card hovercard">
      <div class="cardheader">

        <img class="cardheader" src=<%=@farm.banner_image%>>
      </div>
      <div class="avatar">
        <img alt="" src=<%=@farm.profile_image%>>
      </div>
      <div class="info">
        <div class="title">
          <div class="farm-editing">
            <%= best_in_place_if (current_user && current_user.id == @farm.user_id), @farm, :name, :as => :input, type: :textarea, placeholder: "What is the name of your farm?",  ok_button: 'Save', cancel_button: 'Cancel' %>
          </div>
          <br>
          <span>
            <div class="farm-editing">
              <%= best_in_place_if (current_user && current_user.id == @farm.user_id), @farm, :farmer, :as => :input, placeholder: "Who are your farmers?",  ok_button: 'Save', cancel_button: 'Cancel' %>
            </div>
          </span>
        </div>
        <div class="names">
        </div>
        <div class="safety">
          <img src="http://www.jamacfoods.com/wp-content/uploads/2015/05/food-safety-badge.jpg">
        </div>
        <div class="badge">
          <img src="http://www.kidneycoach.com/wp-content/uploads/2012/12/Optimized-HiRes.jpg">
        </div>
      </div>
    </div>

    <% if current_user && current_user.id == @farm.user_id %>
    <%= render 'update_banner', farm: @farm %>
    <% end %>
    <br /><br /><br />
    <% if current_user && current_user.id == @farm.user_id %>
    <%= render 'update_avatar', farm: @farm %>
    <% end %>

    <div class="crops">
      <h2>What's available now?</h2>
      <div id="carousel-example-generic" class="carousel_slide" data-ride="carousel">
        <br>
        <% @available_crops.each do |c| %>
          <%= render 'available_crop_preview', crop: c %>
        <% end %>
        <!-- 
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="http://www.well-beingsecrets.com/wp-content/uploads/Cavendish-Bananas.jpg">
        <img src="http://centraliowayfc.org/wp-content/uploads/2011/01/peaches1.jpg">
        <img src="http://imavex.vo.llnwd.net/o18/clients/urbanfarm/images/Peppers/Early-Jalapeno-Pepper-Seeds.jpg">
        <img src="http://www.almanac.com/sites/default/files/images/tomatoplant.jpg">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/dc/a5/ab/dca5ab2c10391ff2d5b0b49fa93c0eb0.jpg">
        <img src="http://imavex.vo.llnwd.net/o18/clients/urbanfarm/images/Corn/Truckers_Favorite_Yellow_Corn.jpg">
        <img src="http://www.well-beingsecrets.com/wp-content/uploads/Cavendish-Bananas.jpg">
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="http://www.well-beingsecrets.com/wp-content/uploads/Cavendish-Bananas.jpg"> -->
      </div>
    </div>
    <br>
    <div class="all crops">
      <h4> Want to know all the different crops we harvest throughout the year? </h4>
      <h4> Head over to my <%= link_to 'Field', "/farms/#{@farm.id}/crops" %>! </h4>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-success">
          <div class="panel-body">
            <h3>About Us</h3>
            <div class="farm-editing">
              <%= best_in_place_if (current_user && current_user.id == @farm.user_id), @farm, :about_farm, :as => :input, type: :textarea, :placeholder => 'Tell us about your farm!', ok_button: 'Save', cancel_button: 'Cancel' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 ">
        <div class="panel panel-success">
          <div class="panel-heading">WHERE ARE WE?
            <br />
            Our Address:
            <div class="farm-editing">
              <%= best_in_place_if (current_user && current_user.id == @farm.user_id), @farm, :address, :as => :input, type: :textarea, :placeholder => "What is your farm's address?", ok_button: 'Save', cancel_button: 'Cancel' %>
            </div>
            <br />
          </div>
          <div class="panel-body">
            <div id="map"></div>
            <%= form_for @new_market do |f| %>

              <% if f.object.errors.any? %>
              <div class="alert alert-danger">
                <strong>The following errors prevented saving:</strong>
                <ul>
                  <% f.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>

              <div class="form-group">
                <%= f.label :name %>
                <%= f.autocomplete_field :name, autocomplete_market_name_markets_path, 'data-auto-focus' => true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :address %>
                <%= f.text_field :address, class: 'form-control' %>
              </div>

              <div class="form-group market-day-dropdown">
                <%= f.label :market_day %>
                <%= select(:market, :market_day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], :include_blank => true)%>
              </div>

              <%= f.hidden_field :farm_id, :value => @farm.id %>

              <%= f.submit 'Create Market', class: 'btn btn-primary btn-xs', id: 'create-market' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-warning btn-block">Edit My Profile</button>
  </div>
</div>

<%= javascript_tag do %>
  window.farm = {lat: <%= @farm.lat %>, lng: <%= @farm.lng %>, id: <%= @farm.id %>}
  window.markets = <%= @market_data %>
<% end %>

<script async defer src="//maps.google.com/maps/api/js?key=AIzaSyC7a1ObkesRP36iQHZSe5q1TFxtiyXaJJI&callback=initMap"></script>
