<h1>Farm Profile</h1>

<p>
  <b>Farm Name:</b>
  <%= best_in_place @farm, :name, type: :textarea, placeholder: "What is the name of your farm?",  activator: "#edit_farm_name", ok_button: 'Save', cancel_button: 'Cancel' %>
</p>

<p>
  <b>Farmer Name(s):</b>
  <%= best_in_place @farm, :farmer, placeholder: "Who are your farmers?",  activator: "#edit_farmer_name", ok_button: 'Save', cancel_button: 'Cancel' %>

<p>
  <b>About The Farm:</b>
  <%= best_in_place @farm, :about_farm, type: :textarea, :placeholder => 'Tell us about your farm!', activator: "#edit_about_farm", ok_button: 'Save', cancel_button: 'Cancel' %>
</p>

<p>
  <b>Farm Address:</b>
  <%= best_in_place @farm, :address, :placeholder => 'Where is your farm located?', :activator => "#edit_farm_address", ok_button: 'Save', cancel_button: 'Cancel' %>
</p>

<p>
  <b>Banner Image:</b>
</p>

<p>
  <b>Profile Image:</b>
</p>

<%= link_to 'Edit Farm Profile', edit_farm_path(@farm) %>


<!-- type: :checkbox, collection: %w[No Yes] -->
