<div class="registration">
  <div class="reg-background">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="jumbotron">
          <h2>Get down and dirty with us!</h2>
          <h3>Member Registration</h3>
          <br>
          <%= form_for :user, url: users_path do |f| %>
          <div class="form-group">
            <h5>First Name: </h5>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <h5>Last Name: </h5>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <h5>Email: </h5>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <h5>Password: </h5>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <h5>Confirm Password: </h5>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.hidden_field :is_farmer, value: false %>
          <%= f.submit "Submit!", class: 'btn btn-warning btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
