

<div class="row">
  <div class="col s4 m4">
    <div class="card" style="display:inline-block">
      <div class="card-content">
        <dl class="dl-horizontal" style="font-size:170%;">
          <%=link_to farm_box_path(box.farm_id, box.id) do %>
          <h4><%= box.size.capitalize %></h4>
          <img alt="" style="width:300px;height:auto;border-radius:10px;border:solid rgba(87,82,4,0.18) 1px;" src=<%="/farmers/#{box.size}.jpg"%>>
          <%end%>
          <p class="description">
            Description: <%= box.description %>
          </p>
          <p class="csa-subscription-price">
            Subscription Price: <%= number_to_currency(box.price)  %>
          </p>
      </div>
      <div class="card-action">
        <%= link_to add_item_farm_cart_path(box.id), class: 'btn btn-primary', method: :put do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>
        <%= link_to farm_box_path(box.farm_id, box.id), class: 'btn btn-default pull-right' do %>
          Details &raquo;
        <% end %>
      </div>
    </div>
  </div>
</div>
