<div class="box" style="display:inline-block;border:solid rgba(87,82,4,0.18) 1px;border-radius:10px">

  <header>
    <%=link_to farm_box_path(box.farm_id, box.id) do %>
    <img alt="" style="width:400px;height:auto;border-radius:10px;border:solid rgba(87,82,4,0.18) 1px;" src=<%="/farmers/#{box.size}.jpg"%>>
    <h4><%= box.size.capitalize %></h4>
    <%end%>
  </header>

  <p class="description">
    Description: <%= box.description %>
  </p>
  <p class="pickup-price">
    Pickup Price: <%= into_dollars(box.pickup_price_cents) %>
  </p>
  <p class="delivery-price">
    Delivery Price: <%= into_dollars(box.delivery_price_cents) %>
  </p>



<footer class="actions">
  <%= link_to add_item_farm_cart_path(box_id: box.id), class: 'btn btn-primary', method: :put do %>
    <%= fa_icon "shopping-cart", text: 'Add' %>
  <% end %>
  <%= link_to farm_box_path(box.farm_id, box.id), class: 'btn btn-default pull-right' do %>
    Details &raquo;
  <% end %>
</footer>

</div>
