
<div class="col l4 s4">
  <div class="card">
    <div class="card-image">
      <img src=<%="/farmers/#{box.size}.jpg"%>>
      <span class="card-title"><%= box.size.capitalize %></span>
    </div>
    <div class="card-content">
      <p class="description">
        Description: <%= box.description %>
      </p>
      <p class="csa-subscription-price">
        Subscription Price: <%= number_to_currency(box.price)  %>
      </p>
    </div>
    <div class="card-action">
      <%= link_to add_item_farm_cart_path(box_id: box.id), class: 'btn btn-primary', method: :put do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
      <%= link_to farm_box_path(box.farm_id, box.id), class: 'btn btn-default pull-right' do %>
        Details &raquo;
      <% end %>
    </div>
  </div>
</div>
