<div class="row">
  <% farm = Farm.find(params[:farm_id]) %>

  <div class="card hoverhovercard">
    <div class="info">
      <div class="avatar col-xs-1">
        <img alt="" src=<%=farm.profile_image%>>
      </div>
      <div class="label col-xs-4 col-xs-offset-1">
        <%= farm.name %>
        <br>
      </div>
      <div class="farmer-names col-xs-4 col-xs-offset-1">
        <%= farm.farmer %>
      </div>
      <div>
        <% if current_user && current_user.farm_id %>
          <%= link_to farm_cart_path(current_user.farm_id) do %>
            <button class="btn btn-primary"><%= fa_icon "shopping-cart", text: 'My Cart'%> (<%= cart.size %>)</button>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
