<nav class="green">
  <a href="/farms/<%= @farm.id %>" class="breadcrumb"><%= @farm.name %></a>
  <a class="breadcrumb">CSA Subscription Options</a>
  <a href="/farms/<%= @farm.id %>/cart" class="waves-effect waves-light btn right valign white black-text">My Cart (<%= 0 + cart.map {|i| i[1]["quantity"]}.reduce(:+) %>)</a>
</nav>

    <div class="row">
      <% @boxes.map do |box| %>
      <%= render 'box', box: box, id: box.id, farm: @farm, description: box.description, price: box.price %>
      <% end %>
    </div>
