<%= render 'farm_nav' %>

<header>
  <h3>
  <%= link_to @box.farm.name, @box.farm %> &raquo;
  <%= link_to "CSA Box Subscription Options", farm_boxes_path(@farm.id) %> &raquo; <%= @box.size.capitalize %> Box
</h3>
</header>

<div class="container">
      <div class="row">
        <div class="col l8 offset-l2">
          <div class="card">
            <div class="card-image">
              <img src=<%="/farmers/#{@box.size}.jpg"%>>
              <span class="card-title"><h1><%= @box.size.capitalize %></h1></span>
            </div>
            <div class="card-content">
              <dt><%= @box.description %></dt>
              <dt><h5>Subscription Price</h5></dt>
              <dd><%= number_to_currency(@box.price) %></dd>
            </div>
            <div class="card-action">
              <%= link_to add_item_farm_cart_path(@box.id), class: 'btn btn green', method: :put do %>
                <%= fa_icon "shopping-cart", text: 'Add' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>