<nav class="green">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/farms/<%= @farm.id %>" class="breadcrumb"><%= @farm.name %></a>
      <a href="/farms/<%= @farm.id %>/boxes" class="breadcrumb">CSA Subscription Options</a>
      <a class="breadcrumb"><%= @box.size.capitalize %> Box</a>
      <a href="/farms/<%= @farm.id %>/cart" class="waves-effect waves-light btn right valign white black-text">My Cart (<%= cart.map {|i| i[1]["quantity"]}.reduce(:+) %>)</a>
    </div>
  </div>
</nav>

      <div class="row">
        <div class="col l6 offset-l3">
          <div class="card">
            <div class="card-image">
              <img src=<%="/farmers/#{@box.size}.jpg"%>>
              <span class="card-title"><h1><%= @box.size.capitalize %></h1></span>
            </div>
            <div class="card-content">
              <p>
                <%= @box.description %>
              </p>
              <p>
                <b>Subscription Price: </b> <%= number_to_currency(@box.price) %>
              </p>
            </div>
            <div class="card-action">
              <%= link_to add_item_farm_cart_path(box_id: @box.id), method: :put do %>
                <button class="btn green">Add<i class="material-icons right">shopping_cart</i></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
