<%= render 'farm_nav' %>

<header>
  <h3>
  <%= link_to @box.farm.name, @box.farm %> &raquo;
  <%= link_to "CSA Box Subscription Options", farm_boxes_path(@farm.id) %> &raquo; <%= @box.size.capitalize %> Box
</h3>
</header>
<article class="box-detail">
  <div class="container">
    <div class="row">
  <div class="col-sm-4">
    <img alt="" class: 'main-img' style="width:500px;height:auto;" src=<%="/farmers/#{@box.size}.jpg"%>>
  </div>
  <div class="col-sm-8">
    <dl class="dl-horizontal" style="font-size:170%;">
      <dt>Box Size</dt>
      <dd style="font-weight:200;"><%= @box.size.capitalize %></dd>
      <dt>Description</dt>
      <dd style="font-weight:200;"><%= @box.description %></dd>
      <dt>Subscription Price</dt>
      <dd style="font-weight:200;"><%= number_to_currency(@box.price) %></dd>
    </dl>
    <footer class="actions">
      <%= link_to add_item_farm_cart_path(box_id: @box.id), method: :put do %>
      <button class="btn green">Add<i class="material-icons" style="font-size:17px">shopping_cart</i></button>
      <% end %>
    </footer>
  </div>
</div>
</div>
</article>
