<header>
  <h2>
  <%= link_to @box.farm.name, @box.farm %> &raquo;
  <%= link_to "CSA Box Subscription Options", farm_boxes_path(@farm.id) %> &raquo; <%= @box.size.capitalize %> Box
</h2>
</header>
<article class="box-detail">
<div class="row">
  <div class="col-sm-4">
    <img alt="" class: 'main-img' style="width:500px;height:auto;" src=<%="/farmers/#{@box.size}.jpg"%>>
  </div>
  <div class="col-sm-8">
    <dl class="dl-horizontal" style="font-size:170%;">
      <dt>Box Size</dt>
      <dd style="font-weight:200;"><%= @box.size.capitalize %></dd>
      <dt>Description</dt>
      <dd style="font-weight:200;"><%= @box.description %></dd>
      <dt>Pickup Price</dt>
      <dd style="font-weight:200;"><%= into_dollars(@box.pickup_price_cents) %></dd>
      <dt>Delivery Price</dt>
      <dd style="font-weight:200;"><%= into_dollars(@box.delivery_price_cents) %></dd>
    </dl>
  </div>
</div>
</article>
