<%item_total = box.price * quantity%>
<%@order_total += item_total%>
<tr>
  <td>
    Image
  </td>
  <td>
    <h4><%=box.size%></h4>
    <br>
    <p style='font-size:100%'><%=box.description%></p>
  </td>
  <td style='font-size:125%'>
    <%= number_to_currency(box.price)%>
  </td>
  <td style='font-size:125%'>
    <%=quantity%>
  </td>
  <td style='font-size:125%'>
    <%=number_to_currency(item_total)%>
  </td>
</tr>
