<%item_total = box.price * quantity%>
<%@order_total += item_total%>
<tr>
  <td>
    <img alt="" style="width:150px;height:auto;" src=<%="/farmers/#{box.size}.jpg"%>>
  </td>
  <td>
    <h5><%=box.size.capitalize%></h5>
    <p><%=box.description%></p>
  </td>
  <td>
    <%= number_to_currency(box.price)%>
  </td>
  <td>
    <%=quantity%>
  </td>
  <td>
    <%=number_to_currency(item_total)%>
  </td>
</tr>
