
<nav>
    <div class="nav-wrapper light-green darken-1">
      <div class="col s12">
        <a href="/farms/:id" class="breadcrumb"><%= @farm.name %></a>
        <a href="#!" class="breadcrumb">Crops</a>
      </div>
    </div>
</nav>



  <div class="row">

      <div class="info">
        <div class="avatar col l2 offset-l1">
          <img alt="" src=<%= @farm.profile_image %> class="circle">
        </div>
        <div class="col l5">
          <h2><%= @farm.name %></h2>
        </div>
        <div class="col l5 grey-text text-darken-1">
          <h5><%= @farm.farmer %></h5>
        </div>
      </div>

  </div>



<div class="container">
  <div class="row">
    <div class="col l12">
      <div class="card grey lighten-4">

        <div class="card-content black-text">
          <span class="card-title">Add or create a crop for your field!</span>

          <%= form_for @new_crop do |f| %>
          <%= f.hidden_field :default_image, :value => '' %>
          <%= f.hidden_field :farm_id, :value => params[:farm_id] %>
          <%= f.hidden_field :availability, :value => true %>

          <div class="col-md-6">
            <% if f.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% f.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <div class='form-group'>
              <%= f.label :name %>
              <%= f.autocomplete_field :name, autocomplete_stock_crop_name_crops_path, 'data-auto-focus' => true, id: 'autocomplete-input', class: 'autocomplete', placeholder: "What's the name of the crop?" %>
            </div>

            <div class='form-group'>
              <%= f.label :harvest_date %>
              <%= f.text_field :harvest_date, class: 'datepicker', type: 'text' %>
            </div>

            <div class='form-group'>
              <%= f.label :description %>
              <%= f.text_field :description, class: 'form-control', placeholder: 'Details about the crop.' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class='col-xs-7 col-sm-5 col-md-6 col-lg-6 col-lg-offset-2' id="crop_img_insert">
                <img id='crop_img'>
                <%= f.file_field :image %>
              </div>
            </div>
          </div>

        </div>

        <div class="card-action center">
          <%= f.submit 'Create Crop', class: 'btn btn green' %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="croplist">
    <div class="col lg12">
      <div class="panel panel-success">
        <div class="panel-heading">Available Right This Instant</div>
        <div class="panel-body">
            <% @available_crops.each do |c| %>
              <%= render 'available_crops_preview', crop: c %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col lg12">
      <div class="panel panel-warning">
        <div class="panel-heading">Meet you guys next week?</div>
        <div class="panel-body circle">
            <% @upcoming_crops.each do |c| %>
              <%= render 'upcoming_crops_preview', crop: c %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col lg12">
      <div class="panel panel-warning">
        <div class="panel-heading">Keep an eye out, we're coming soon. Eventually.</div>
        <div class="panel-body">
            <% @distant_crops.each do |c| %>
              <%= render 'distant_crops_preview', crop: c %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col lg12">
      <div class="panel panel-default">
        <div class="panel-heading">You slowpoke! You missed us this year. Better luck next.</div>
        <div class="panel-body">
            <% @past_crops.each do |c| %>
              <%= render 'available_crops_preview', crop: c %>
            <% end %>
      </div>
    </div>

  </div>
</div>
</div>




  <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>
                  <% @available_crops.each do |c| %>
              <%= render 'available_crops_preview', crop: c %>
            <% end %>
      </p>

    </li>
  </ul>
