<div class='row'>
  <div class="col-sm-6 col-sm-offset-1">
    <%= form_for @new_crop do |f| %>

      <% if f.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
          <ul>
            <% f.object.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-group'>
        <%= f.label :name %>
        <%= f.autocomplete_field :name, autocomplete_stock_crop_name_crops_path, 'data-auto-focus' => true %>
      </div>

      <div class='form-group'>
        <%= f.label :availability %>
        <%= f.check_box :availability %>
      </div>

      <div class='form-group'>
        <%= f.label :harvest_date %>
        <%= f.text_field :harvest_date, class: 'datepicker' %>
      </div>

      <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class='form-group'>
        <img id='crop_img' src='http://placehold.it/200x150/'>
        <%= f.file_field :image_upload %>
      </div>

      <%= f.hidden_field :farm_id, :value => params[:farm_id] %>

      <%= f.submit 'Create Crop', class: 'btn btn-primary' %>

      <%= f.hidden_field :image, :value => 'hello' %>

    <% end %>
  </div>
</div>